body {
  background-image: url('/images/aoe4-bg.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

#streamContainer {
  background-color: rgba(255, 255, 255, 0.2);
}

body.night #streamContainer {
  background-color: rgba(40, 40, 40, 0.6);
}

#streamContainer > div {
  background-color: rgba(255, 255, 255, 0.3);
}

body.night #streamContainer > div {
  background-color: rgba(40, 40, 40, 0.5);
}

#streamContainer > div > div {
  background-color: rgba(255, 255, 255, 0.2);
}

body.night #streamContainer > div > div {
  background-color: rgba(40, 40, 40, 0.2);
}

.toc .toc-content {
  padding: 20px 0px 20px 0px;
  background-color: rgba(255, 255, 255, 0.2);
}

.toc-wrapper ul {
  margin-left: 0px;
}

.red-row {
  color: red;
}

.green-row {
  color: green;
}

.social-link {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.social-links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 5px 28px;
}

.side-container .nav-head {
  padding: 30px 28px 5px 20px;
}

